@model PhusannhiHospital.Models.Banner

<!--Sua-->
@{
    string src = "/Content/Uploads/Banners/" + Model.Id + "/" + Model.Url;
}





<!-- SLIDE 2 -->
<li data-transition="fade">    
    <img src="@src" alt="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina  />
    <!-- LAYERS -->
</li>