@model NamLao206.Models.AlbumPicture
@using NamLao206.Utils

@{
    string src = "";
    var pic = Model.PictureName;

    src = "/Content/Uploads/Albums/" + Model.AlbumId + "/" + pic;

}

<div>
    <!-- item -->
    <a href="shop-page-full-product.html" style="background-color:#fff9e9">
        <img src="@src" style="min-height: 180px; max-height: 260px; margin-top:40px; margin-left: 20px; margin-bottom:40px; margin-right: 40px;" alt="" />
    </a>
</div><!-- /item -->
