@model PhusannhiHospital.Models.News

<!-- -->
<hr />
<div class="container">
    <p class="lead" style="text-align:center ; text-transform:uppercase ; font-size:xx-large"><b>@Model.Title</b></p>
</div>