@model IEnumerable<NamLao206.Models.Topic>


@foreach (var topic in Model)
{
    if (topic.NhomNews.Value == 1)
    {
        <li>
            <a href="~/Home/DetailGioiThieu/?newsid=@topic.Id">@topic.TopicName</a>
        </li>
        <li class="divider"></li>
    }
}


