@model IEnumerable<NamLao206.Models.DM_NhomPhongBans>

@foreach (var nhomkhoa in Model.Where(x => x.ParentId == 1))
{
    <div class="col-md-3">
        <h3>@nhomkhoa.Nhomkhoa</h3>
        <ul>
            @foreach (var khoa in nhomkhoa.DM_PhongBans)
            {
                <li>
                    <a class="" href="~/Home/Khoaphong/?khoaid=@khoa.Id">
                        <i class="fa fa-angle-right"></i>@khoa.TenKhoa
                    </a>
                </li>
            }
        </ul>
    </div>
}
