@model NamLao206.Models.News
@using NamLao206.Utils
@{
    string src = MySecurity.GetSrcPicture(Model.TopicId);
    var pic = Model.Picture;
    //if (string.IsNullOrEmpty(pic))
    //{
    //    src = MySecurity.GetSrcPicture(Model.TopicId);
    //}
    //else
    //{
    //    src = "/Content/Uploads/News/" + pic;
    //}
}

<div>
    <!-- item 1 -->
    <div class="item-box">
        <figure>
            <a class="item-hover" href="~/Home/NewsDetail/?title=@Model.TitleChange&&newsid=@Model.Id">
                <span class="overlay color2"></span>
                <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>PROJECT</strong> DETAIL
                </span>
            </a>
            <img class="img-responsive" src="@src" alt="">
        </figure>
        <div class="item-box-desc">
            <h4 class="truncateHai">
                <a class="text-white font-size-20 d-block text-truncate" href="~/Home/NewsDetail/?title=@Model.TitleChange&&newsid=@Model.Id">@Model.Title</a>
            </h4>
            <small class="styleColor">@Model.DateUp.ToString("dd/MM/yyyy")</small>
        </div>
    </div>
</div>