@model IEnumerable<NamLao206.Models.Topic>


@foreach (var topic in Model.Where(x => x.NhomNews == 1))
{
        <li>
            <a href="~/Home/DetailGioiThieu/?newsid=@topic.Id">@topic.TopicName</a>
        </li>
        <li class="divider"></li>
<<<<<<< HEAD:Views/Shared/_lstGioiThieu.cshtml
    }
}
=======
}


>>>>>>> 35b5d34ddf6407890c61b360950aa963c57094a7:Views/Shared/_topicsGioiThieu.cshtml
