@model IEnumerable<NamLao206.Models.Topic>


@foreach (var topic in Model.Where(x => x.NhomNews == 1))
{
        <li>
            <a href="~/Home/DetailGioiThieu/?newsid=@topic.Id" style="color:white">@topic.TopicName</a>
        </li>
        <li class="divider"></li>

}
