@model NamLao206.Models.Topic



<div class="panel-body">
    <h4 style="text-align:center"><strong>Bạn có chắc chắn muốn xóa hay không?</strong></h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="float:right">
            <button type="submit" class="mt-2 btn btn-success">Lưu</button>
            <button type="button" class="mt-2 btn btn-light" data-dismiss="modal">Đóng</button>
        </div>

    }
</div>