

<section class="py-8 py-md-10">
    <div class="container">
        <div class="mb-9">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="media flex-md-column flex-lg-row mb-4">
                        <div class="icon-rounded-circle-large shadow-sm mb-md-2 me-md-0 me-2 me-lg-2 bg-primary">
                            <i class="fas fa-map-marker-alt text-white" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading text-primary mt-0 font-weight-bold mb-3">Address:</h3>
                            <p class="text-muted font-weight-medium">
                                402 Lê Văn Hiến,
                                Quận Ngũ Hành Sơn,
                                Thành phố Đà Nẵng.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <div class="media flex-md-column flex-lg-row mb-6">
                        <div class="icon-rounded-circle-large shadow-sm me-2 mb-md-2 me-md-0 me-lg-2 bg-success">
                            <i class="fas fa-phone-alt text-white" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading text-success mt-0 font-weight-bold mb-3">Phone:</h3>
                            <a class="text-muted font-weight-medium" href="tel:0236 3957 777">
                                0236 3957 777
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <div class="media flex-md-column flex-lg-row mb-3 mb-md-0">
                        <div class="icon-rounded-circle-large shadow-sm me-2 mb-md-2 me-md-0 me-lg-2 bg-danger">
                            <i class="far fa-envelope text-white" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading text-danger">Email:</h3>
                            <p class="font-weight-medium">
                                <a class="text-muted" href="mailto:benhvienphusannhi@danang.gov.vn">benhvienphusannhi@danang.gov.vn</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-10" style="width:100%; height:420px;">
            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!4v1685062786187!6m8!1m7!1sCAoSLEFGMVFpcE5VUks5U3lVdmpvTFBwMjFfelIyMkhZYkpvOWFYUlRoQUxaZXdr!2m2!1d16.0233921!2d108.2504441!3f330.7917987857168!4f2.139342900201939!5f0.7820865974627469" height="500" allowfullscreen=""></iframe>
        </div>

        <div class="" action="index.html" method="post">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group form-group-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control border-primary" placeholder="Họ tên" required="">
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group form-group-icon">
                            <i class="fa fa-envelope"></i>
                            <input type="email" class="form-control border-success" placeholder="Địa chỉ email" required="">
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group form-group-icon">
                            <i class="fas fa-phone-alt"></i>
                            <input type="text" class="form-control border-purple" placeholder="Số điện thoại" required="">
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group form-group-icon">
                            <i class="fa fa-book"></i>
                            <input type="text" class="form-control border-pink" placeholder="Tiêu đề" required="">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group form-group-icon">
                            <i class="fa fa-comments"></i>
                            <textarea class="form-control border-info" placeholder="Phản hồi" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="text-sm-center mt-6">
                            <button type="submit" class="btn btn-danger text-uppercase">
                                Gửi phản hồi
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
