@model NamLao206.Models.News
@using NamLao206.Models
@{

    var recentNews = ViewBag.RecentNews as List<News>;
    var topics = ViewBag.topics as List<Topic>;
}
<div class="container">
    <section>
        <div class="col-md-12 col-sm-12">
            <h2 class="text-danger text-center"><strong>@Model.Title</strong></h2>
            <div class="divider">
                <!-- divider -->
                <i class="fa fa-star"></i>
            </div>
            <p>
                @Html.Raw(Model.Details)
            </p>
            <p style="text-align:right ; text-transform:uppercase ; font-size:medium"><b>Ngày đăng: @Model.DateUp.ToString("dd/MM/yyyy")</b></p>
        </div>
    </section>
    <section>
        <h2 class="text-danger">Tin tức liên quan</h2>
        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>
        <div class="owl-carousel" data-plugin-options='{"itemsDesktop":[1199,4], "itemsDesktopSmall":[980,3], "itemsTablet":[684,2], "itemsMobile":[490,1], "singleItem": false, "stopOnHover":true, "autoPlay":true, "autoHeight": false, "navigation": false, "pagination": true}'>
            @foreach (var item in recentNews)
            {
                @Html.Partial("_recentNews", item)
            }
        </div>
        <!--<div class="owl-carousel" data-plugin-options='{"singleItem": false, "autoPlay": true}'>-->
            <!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <!--
        </div>-->
        <div class="row">

        </div>
    </section>
</div>




