@model NamLao206.Models.DM_PhongBans
@using NamLao206.Models
@{
    namlao206dbEntities db = new namlao206dbEntities();
    var pictures = ViewBag.Pictures as List<Picture>;
    var pic = db.Pictures.Where(x => x.KhoaphongId == Model.Id).FirstOrDefault();
}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <h2 class="text-danger text-center"><strong>@Model.TenKhoa</strong></h2>
            <div class="divider">
                <!-- divider -->
                <i class="fa fa-star"></i>
            </div>  
            <p>
                @Html.Raw(Model.Description)

            </p>

        </div>
        <div class="col-md-3 col-sm-3">
            @Html.Partial("_RightSidePhongBan")
        </div>
    </div>
</div>