@using NamLao206.Models
@{ 
    namlao206dbEntities db = new namlao206dbEntities();
    if (User.Identity.IsAuthenticated)
    {
        var acc = db.Accounts.Where(x => x.Id.ToString().Equals(User.Identity.Name)).SingleOrDefault();
        if (acc != null && acc.AccountType == 3)
        {
            ViewBag.Hoten = acc.Employee.Name;
        }
        else
        {
            // Gọi hàm Logout()
            Response.Redirect(Url.Action("Logout", "Account"));
        }

    }
}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title CÔNG TY TNHH MTV HỮU NGHỊ NAM LÀO</title>
    <meta name="description" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/TrangChu/assets/images/Logo/LOGO BV.png" />
    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="/Content/AdminBinhLT/assets/css/backend.min.css">
    <link rel="stylesheet" href="/Content/AdminBinhLT/assets/vendor/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Content/AdminBinhLT/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/Content/AdminBinhLT/assets/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="/Content/AdminBinhLT/assets/vendor/icon/dripicons/dripicons.css">

    <link rel='stylesheet' href='/Content/AdminBinhLT/assets/vendor/fullcalendar/core/main.css' />
    <link rel='stylesheet' href='/Content/AdminBinhLT/assets/vendor/fullcalendar/daygrid/main.css' />
    <link rel='stylesheet' href='/Content/AdminBinhLT/assets/vendor/fullcalendar/timegrid/main.css' />
    <link rel='stylesheet' href='/Content/AdminBinhLT/assets/vendor/fullcalendar/list/main.css' />
    <link rel="stylesheet" href="/Content/AdminBinhLT/assets/vendor/mapbox/mapbox-gl.css">
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <!-- JAVASCRIPT FILES IMPORTANT -->
    <script src="~/Scripts/bcommand.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/ckfinder/ckfinder.js"></script>  
    <script src="~/Content/AdminBinhLT/assets/vendor/input-masks/cleave.min.js"></script>
    <!-- JAVASCRIPT FILES IMPORTANT-->
</head>
<!--
    .boxed = boxed version
-->
<body>

    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div class="iq-sidebar  sidebar-default " style="background-image: url(/Content/AdminBinhLT/assets/images/login/banner_darkboad2.png);">
            <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
                <a href="#" class="header-logo">
                    <img src="~/Content/AdminBinhLT/assets/images/login/logongangcongty.png" class="img-fluid rounded-normal" alt="logo">
                </a>

                <div class="iq-menu-bt-sidebar">
                    <i class="las la-bars wrapper-menu"></i>
                </div>
            </div>
            <div class="data-scrollbar" data-scroll="1" >
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="active">
                            <a href="/Admin/Dashboard" class="">
                                <i class="las la-home iq-arrow-left"></i><span>Thống kê</span>
                            </a>
                            <ul id="home" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            </ul>
                        </li>
                        <li class=" ">
                            <a href="#layouts" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                <i class="lab la-jira iq-arrow-left"></i><span>Cập nhật trang chủ</span>
                                <i class="las la-plus iq-arrow-right arrow-active"></i>
                                <i class="las la-minus iq-arrow-right arrow-hover"></i>
                            </a>
                            <ul id="layouts" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                @Html.Partial("_adminListItem", new namlao206dbEntities().DM_AdminListUpItem)
                            </ul>
                        </li>

                        <li class=" ">
                            <a href="/Admin/DM_AdminListUpItem/" class="">
                                <i class="lab la-readme iq-arrow-left"></i><span>Thêm Menu</span>
                            </a>
                            <ul id="home" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            </ul>
                        </li>
                        @*<li class=" ">
                                <a href="#Json" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                    <i class="lab la-jira iq-arrow-left"></i><span>Get File Json</span>
                                    <i class="las la-plus iq-arrow-right arrow-active"></i>
                                    <i class="las la-minus iq-arrow-right arrow-hover"></i>
                                </a>
                                <ul id="Json" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li><a href="/Admin/GetData/readJson">Upload đơn thuốc 1 file</a></li>
                                    <li><a href="/Admin/GetData/readDonThuoc">Upload đơn thuốc nhiều file</a></li>
                                    <li><a href="/Admin/GetData/readJsonOldData">Get OldData</a></li>
                                </ul>
                            </li>*@
                    </ul>
                </nav>
                <div class="p-3"></div>
            </div>
        </div>
        <div class="iq-top-navbar" style="background-image: url(/Content/AdminBinhLT/assets/images/login/banner_darkboad1.png);">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                        <i class="ri-menu-line wrapper-menu"></i>
                        <a href="index.html" class="header-logo">
                            <img src="~/Content/TrangChu/assets/images/Logo/logodaixanh.jpg" class="img-fluid rounded-normal" alt="logo">
                        </a>
                    </div>
                    <div class="iq-search-bar device-search">
                        <form action="#" class="searchbox">
                            <input type="text" class="text search-input" placeholder="Type here to search...">
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="change-mode">
                            <div class="custom-control custom-switch custom-switch-icon custom-control-inline">
                                <div class="custom-switch-inner">
                                    <p class="mb-0"> </p>
                                    <input type="checkbox" class="custom-control-input" id="dark-mode" data-active="true">
                                    <label class="custom-control-label" for="dark-mode" data-mode="toggle">
                                        <span class="switch-icon-left"><i class="a-left"></i></span>
                                        <span class="switch-icon-right"><i class="a-right"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                            <i class="ri-menu-3-line"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                <li class="nav-item nav-icon search-content">
                                    <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-search-line"></i>
                                    </a>
                                    <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                        <form action="#" class="searchbox p-2">
                                            <div class="form-group mb-0 position-relative">
                                                <input type="text" class="text search-input font-size-12" placeholder="type here to search...">
                                                <a href="#" class="search-link"><i class="las la-search"></i></a>
                                            </div>
                                        </form>
                                    </div>
                                </li>

                                <li class="caption-content">
                                    <a href="#" class="iq-user-toggle">
                                        <img src="/Content/AdminBinhLT/assets/images/user/1.jpg" class="img-fluid rounded" alt="user">
                                    </a>
                                    <div class="iq-user-dropdown">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between align-items-center mb-0">
                                                <div class="header-title">
                                                    <h4 class="card-title mb-0">Profile</h4>
                                                </div>
                                                <div class="close-data text-right badge badge-primary cursor-pointer"><i class="ri-close-fill"></i></div>
                                            </div>
                                            <div class="data-scrollbar" data-scroll="2">
                                                <div class="card-body">
                                                    <div class="profile-header">
                                                        <div class="cover-container text-center">
                                                            <img src="/Content/AdminBinhLT/assets/images/user/1.jpg" alt="profile-bg" class="rounded img-fluid avatar-80">
                                                            <div class="profile-detail mt-3">
                                                                <h3>Barry Tech</h3>
                                                                <p class="mb-1">Web designer</p>
                                                            </div>
                                                            <a href="auth-sign-in.html" class="btn btn-primary">Sign Out</a>
                                                        </div>
                                                        <div class="profile-details my-4">
                                                            <a href="../app/user-profile.html" class="iq-sub-card bg-primary-light rounded-small p-2">
                                                                <div class="media align-items-center">
                                                                    <div class="rounded iq-card-icon-small">
                                                                        <i class="ri-file-user-line"></i>
                                                                    </div>
                                                                    <div class="media-body ml-3">
                                                                        <h6 class="mb-0 ">My Profile</h6>
                                                                        <p class="mb-0 font-size-12">View personal profile details.</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="../app/user-profile-edit.html" class="iq-sub-card bg-danger-light rounded-small p-2">
                                                                <div class="media align-items-center">
                                                                    <div class="rounded iq-card-icon-small">
                                                                        <i class="ri-profile-line"></i>
                                                                    </div>
                                                                    <div class="media-body ml-3">
                                                                        <h6 class="mb-0 ">Edit Profile</h6>
                                                                        <p class="mb-0 font-size-12">Modify your personal details.</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="../app/user-account-setting.html" class="iq-sub-card bg-success-light rounded-small p-2">
                                                                <div class="media align-items-center">
                                                                    <div class="rounded iq-card-icon-small">
                                                                        <i class="ri-account-box-line"></i>
                                                                    </div>
                                                                    <div class="media-body ml-3">
                                                                        <h6 class="mb-0 ">Account settings</h6>
                                                                        <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="../app/user-privacy-setting.html" class="iq-sub-card bg-info-light rounded-small p-2">
                                                                <div class="media align-items-center">
                                                                    <div class="rounded iq-card-icon-small">
                                                                        <i class="ri-lock-line"></i>
                                                                    </div>
                                                                    <div class="media-body ml-3">
                                                                        <h6 class="mb-0 ">Privacy Settings</h6>
                                                                        <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal-details">
                                                            <h5 class="card-title mb-3 mt-3">Personal Details</h5>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-sm-6">
                                                                    <h6>Birthday</h6>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <p class="mb-0">3rd March</p>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-sm-6">
                                                                    <h6>Address</h6>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <p class="mb-0">Landon</p>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-sm-6">
                                                                    <h6>Phone</h6>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <p class="mb-0">(010)987 543 201</p>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-sm-6">
                                                                    <h6>Email</h6>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <p class="mb-0">Barry@example.com</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="p-3"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="content-page">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="myModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title float-left" id="myModalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Nếu bị ẩn sau modal thì chỉnh  z-index: 1060 !important; ở select2-container css -->
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!--<div id="myModal" class="modal modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">-->
    @*<h4 class="modal-title">Modal Header</h4>*@
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body ">
                </div>
            </div>
        </div>
    </div>-->
    <!-- PRELOADER -->
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/CascadingDropdownAjax.js"></script>
    <!--NEW-->
    <!-- Backend Bundle JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/backend-bundle.min.js"></script>
    <!-- Flextree Javascript-->
    <script src="/Content/AdminBinhLT/assets/js/flex-tree.min.js"></script>
    <script src="/Content/AdminBinhLT/assets/js/tree.js"></script>
    <!-- Table Treeview JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/table-treeview.js"></script>
    <!-- Masonary Gallery Javascript -->
    <script src="/Content/AdminBinhLT/assets/js/masonry.pkgd.min.js"></script>
    <script src="/Content/AdminBinhLT/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Mapbox Javascript -->
    <script src="/Content/AdminBinhLT/assets/js/mapbox-gl.js"></script>
    <script src="/Content/AdminBinhLT/assets/js/mapbox.js"></script>
    <!-- Fullcalender Javascript -->
    <script src='/Content/AdminBinhLT/assets/vendor/fullcalendar/core/main.js'></script>
    <script src='/Content/AdminBinhLT/assets/vendor/fullcalendar/daygrid/main.js'></script>
    <script src='/Content/AdminBinhLT/assets/vendor/fullcalendar/timegrid/main.js'></script>
    <script src='/Content/AdminBinhLT/assets/vendor/fullcalendar/list/main.js'></script>
    <!-- SweetAlert JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/sweetalert.js"></script>
    <!-- Vectoe Map JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/vector-map-custom.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/chart-custom.js"></script>
    <!-- slider JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/slider.js"></script>
    <!-- app JavaScript -->
    <script src="/Content/AdminBinhLT/assets/js/app.js"></script>

</body>
</html>
